$lt-blue:#9fbfbf;

$onyx: rgba(0, 0, 0, 0.8);
$lt-onyx: rgba(0, 0, 0, 0.1);

$cream:#F0F5D7;
$dark-cream: $cream - 20;



$transparency: rgba(0, 0, 0, 0.0);
$eggshell: #FAF0E6;

@mixin text-shadow($color: #000, $weight: 10px){
	-moz-text-shadow: 0 0 $weight $color; 
	-webkit-text-shadow: 0 0 $weight $color; 
	text-shadow: 0 0 $weight $color;
}

@mixin border-radius($radius: 5px){
	-webkit-border-radius: $radius;
	-moz-border-raiud: $radius;
	border-radius: $radius;
}


@mixin box-shadow-small(){
	transition: box-shadow 0.5s ease;
	box-shadow: 5px 5px 3px #888888;
}

body {
	background: white;
	height: 1440px;
}

p {color: $dark-cream;}

.header{
	background-color: $transparency;

	.header-wrapper{
		background-color: $transparency;
		margin-top: 60px;
		margin-left: 20px;
	}

	.projects{
	}

	a:hover{
		-moz-text-shadow: 0 0 10px #ccc; 
		-webkit-text-shadow: 0 0 10px #ccc; 
		text-shadow: 0 0 10px #ccc;
	}

	div{
		font-family: Montserrat;
		padding: 10px;
		display: inline-block;
		font-size: 110%;
		color: $cream;
	}
}

.main-display{
	background: url(mac_desk.png) no-repeat center;
	background-size: cover;
	height: 660px;
}

.intro{
	@include border-radius;
	background-color: #333;
	color: white;
	margin-top: 10px;
}

.main-body{
	@extend .intro;
}

.mid-section{
	background-color:$eggshell;
	height: 600px;

	.mid-wrapper{
		background-color: $transparency;
		height: 600px;

		div{
			font-family: helvetica;
			display:inline-block;
			width: 25%;
			height: 450px;
			background: $lt-onyx;
		}

		.project1{
			margin-top: 5%;
			margin-left: 5%;

			p{
				color: $onyx;
				text-align: center;
				margin: 10px;
			}

			.adjective{
				width: 80%;
				height: 60%;
				margin-left: 10%;
				background: url(adjective_logo.png) no-repeat;
				background-size: contain;
			}
		}

		.project1:hover{
			@include box-shadow-small;
		}

		.project2{
			margin-top: 0%;
			margin-left: 7%;
			margin-right: 7%;

			p{
				color: $onyx;
				text-align: center;
				margin: 10px;
			}

			.adjective{
				font-size: 80%;
				width: 80%;
				height: 60%;
				margin-left: 10%;
				background: url(adjective_logo.png) no-repeat;
				background-size: contain;
			}
		}

		.project2:hover{
			@include box-shadow-small;
		}

		.project3{

			float: right;
			margin-top: 5%;
			margin-right: 5%;


			p{
				color: $onyx;
				text-align: center;
				margin: 10px;
			}

			.smooth-transaction{
				position: relative;
				left:10%;


				width: 80%;
				height: 50%;

				background: url(smooth_transaction.png) no-repeat;
				background-size: contain;
			}

		}

		.project3:hover{
			@include box-shadow-small;
		}
	}
}

.footer{
	background-color: $onyx;
	width: 100%;
	height: 200px;
}

.tagline{
	display: none;
	font-size: 300%;
	margin-top: 5%;
	@include text-shadow(#ccc, 10px);
	margin-left: 40%;
	font-family: 'Tangerine', serif;
	color: $cream;
}

.name-desc{
	display: none;
	margin-left: 20%;
	margin-top: 2%;
	font-family: Oswald;
	color: rgba(0, 0, 0, 0.9);

	h3{
		margin-top: 0;
		margin-bottom: 0;
		font-size: 450%;
	}

	h4{
		margin-top: 0;
		margin-left: 5%;
		font-size: 350%;
	}
}
 








